*, *:after, *:before {
  box-sizing: border-box;
}

html {
  font-size: 1.2em;
}

body {
  align-items: center;
  background: #343434;
  color: #fefefe;
  display: flex;
  font-family: Helvetica, Arial, sans-serif;
  justify-content: center;
  line-height: 140%;
  min-height: 100vh;
}

main {
  font-size: 2rem;
}

.white-space {
  width: 50vw;
  height: 30vw;
  background-color: white;
}

.options {
  height: 100%;
  width: 50%;
  background-color: white;
  border: 3px solid black;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 50vw;
  height: 200px;
}

/* textArea */
